#corn {
    position: fixed;
    bottom: 200px;
    left: -100px;
    width: 200px;
    animation: roll 10s linear infinite;
}

@keyframes roll {
    0% {
        left: -100px;
        transform: rotate(0deg);
    }
    100% {
        left: 100%;
        transform: rotate(360deg);
    }
}   